@import "./bootstrap";   
@import "./header";   
@import "./loader";   

html, body {
    height: 100%;
}

#main {
    min-height: 100%;
}

#sign-up-form {
    .spinner {
        position: absolute;
        top: 3px;
    }
}
